/*test update css file 3*/

.geel{color:#ffa500;}
.paars{color:#545ad2;}
.Logoblauw { color:#3e61ab;}
.oranje { color:#ffa500;}
/*.button-2 {background:#ffa500 !Important;}*/

h1 {color:#ffa500 !Important; }
h2, h3, h4, h5 {color:#3e61ab !Important; }
strong{color:#3e61ab !Important;}

.dg-cstm-tierprices{display:none;}
/*.product-details-page-body .tier-prices{display:none;}*/

#checkout-step-confirm-order .Warning_Div2{display:None;} 

#small-search-box-form .k-widget{border:0px solid red; max-width:600px;} /*resizen zoekbalk in de kop ivm knop op volgende regel*/

input[type="checkbox"], input[type="radio"], #termsofservice  {border:1px solid #ffa500 !Important; outline:1px solid #ffa500 !Important; }



/*incl of excl. knoppen vormgeven*/
.BTWChange{margin:1em;}
.BTWChange li {cursor:pointer; display:block; padding:1em; margin:0.5em;}


.html-widget{color:#777;}
.payment-logo{display:None;} 
.cart-options{display:None !Important;}
.pay-options{display:none !Important;}
.mini-shopping-cart .price, .mini-shopping-cart .quantity, .mini-shopping-cart .product{font-size:12px !Important;}

.category-description, .product-selectors{border-bottom:5px solid #3e61ab;}
.block-manufacturer-navigation{display:none;}

/*Tekst hoofdmenu vormgeven*/
.Main-custom-menu a{font-size:16px !Important;}
.Main-custom-menu .sublist-wrap a{font-size:14px !Important;}
.Main-custom-menu a:link{color:#3e61ab;} 
.Main-custom-menu a:visited{color:#3e61ab;} 
.Main-custom-menu a:hover{color:#ffa500 !Important;} 
.Main-custom-menu a:active{color:#3e61ab;} 

.availability .stock{color:#3e61ab !Important; font-weight:normal; text-transform:none !Important; font-size:1.5em;}
.sku .value{color:#3e61ab !Important; font-weight:bold;}

.category-navigation-list-wrapper, .all-categories {display:none !Important;} /*Weghalen van het standaard hoofdmenu*/

.categories-in-side-panel{background-color:#ffffff !important; margin-bottom:0px; color:#3e61ab !Important;}

.categories-in-side-panel a{background-color:#ffffff !important; margin-bottom:0px; color:#3e61ab !Important;}

.overview .manufacturers{padding:0 !Important; margin-bottom:10px !Important; display:None;}

.contact_wrapper{background:#3e61ab;	
				color:#ffffff; 
				padding:5px;
				padding-top:15px;
				padding-bottom:15px;
				line-height: 1.9;}
				
.contact_wrapper strong{color:#ffa500 !Important;}				
				
.contact_wrapper_Inline{text-align:center;border:5px solid #ffa500;
	background:#3e61ab;
	color:#ffffff; 
	padding:5px;
	padding-top:15px;
	padding-bottom:15px;
	line-height: 1.9;
	border-radius: 10px;
	}
	
.contact_div_head{border-bottom:2px solid #ffa500;font-size:120%; font-weight:bold;text-align:center;}

.item-grid  .dg-cstm-tierprices{display:none !Important;}

.aanbevelingen{text-align:center;}
.aanbevelingen span{display:block; text-align:left; }





.shadow_bottom_home, .header{
border-bottom:5px solid #3e61ab;
box-shadow: 0px 20px 16px #888888;
}

.home-page-body .header{
border-bottom:5px solid #3e61ab;
box-shadow: 0px 0px 0px #888888;
}

.Warning_Div3{ padding:0.5em;  Margin-top:0.5em; Margin-bottom:0.5em; background-color:white; Border:1px solid #ffa500; text-align:left; font-size: 14px; text-transform: lowercase; font-weight: normal;}

.let_op, .dg-cstm-tierprices H3, .tier-prices .title{padding:0.5em; margin-left:-0.5em; margin-right:-0.5em; margin-top:-0.5em; margin-bottom:0.5em; background:#ffa500; color:white !Important; font-weight:bold; font-size: 14px; text-transform: uppercase; font-weight: bold;}

.Warning_Div2 li{ list-style-type: none !Important;}
.Warning_Div2 li::before{ content: "!"; font-weight: Bold; color:red !Important; margin-right:5px; font-size:200%;}
.Warning_Div2{margin-bottom:3em; margin-top:2em; text-align:left; padding:0px;}
.Warning_Div2 ul{margin:0px; padding:0px;}
.Warning_Div2 ul li{margin:0px; padding:0px;}

.header-upper{background:#ffffff !Important; border-bottom:1px solid #3e61ab;}

.aanbevelingen{background:#ffffff;color:#3e61ab; padding:3px; margin-bottom:1em; font-size:1.8em;}
.aanbevelingen span{padding:10px;} 
.contact-top {margin-bottom:3em;}

.vinkje::before{content: "✓"; font-weight: Bold; color:#ffa500 !Important; margin-right:5px; font-size:150%;} 
.phoneic::before{content: "☏"; font-weight: Bold; color:#ffa500 !Important; margin-right:5px; font-size:150%;}
.whatsappic::before{content: "✆"; font-weight: Bold; color:green !Important; margin-right:5px; font-size:150%;}
.mailic::before{content: "✉"; font-weight: Bold; color:#545ad2 !Important; margin-right:5px; font-size:150%;}
.uitroepteken::before{content: "!"; font-weight: Bold; color:red !Important; margin-right:5px; font-size:150%;} 

/*Om de staffel uit de shoppingcart overlay en J-carousels te halen*/
.k-widget .dg-cstm-tierprices{display:none}
.k-widget .dg-cstm-productinformation{display:none}


.k-widget .html-widget{display:none}
.nop-jcarousel .dg-cstm-tierprices{display:none}
.nop-jcarousel .dg-cstm-productinformation{display:none}
.nop-jcarousel .html-widget{display:none}


*:lang(nl) .k-widget .min-qty-notification::after{content: "\00000a Kies 1 stuks voor een gratis sample"; white-space: pre;  font-family: Arial, Helvetica, sans-serif; font-weight: bold; color:#3e61ab;}
*:lang(en) .k-widget .min-qty-notification::after{content: "\00000a Choose 1 piece for a free sample"; white-space: pre;  font-family: Arial, Helvetica, sans-serif; font-weight: bold; color:#3e61ab;}
*:lang(de) .k-widget .min-qty-notification::after{content: "\00000a Wählen Sie 1 Stück für eine kostenlose Probe"; white-space: pre;  font-family: Arial, Helvetica, sans-serif; font-weight: bold; color:#3e61ab;}

/*.tier-prices::after{content: "! Prijzen zijn afgerond op 2 decimalen hierdoor kunnen kleine verschillen in het eindtotaal ontstaan.";  font-family: Arial, Helvetica, sans-serif;}*/

.breadcrumb li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

/*Restylen Tierprices Tabel*/

.dg-cstm-tierprices-stock {display:None !Important;}


div.dg-cstm-tierprices {
    padding: 5px;
    color: #777;
}


tbody .amount{text-align:left !Important; padding-left:1em !Important;}
.dg-cstm-tierprices .amount{text-align:left; padding-left:0px; }
.dg-cstm-tierprices .price{text-align:right !important;  padding-left:0px !important;}
.dg-cstm-tierprices .discount{display:None;}
.dg-cstm-tierprices .ex{color:#777 !important;}
.dg-cstm-tierprices .inc{color:#777;}
.dg-cstm-tierprices{margin-top:10px;}
.dg-cstm-tierprices table, .dg-cstm-tierprices tr td {border-bottom:1px solid #e9e9e9 !Important ;border-top:0px solid #e9e9e9 !Important; font-size: 14px !important; }
.dg-cstm-tierprices thead{font-weight:bold;}

.dg-cstm-tierprices .fas{cursor: pointer;}
.dg-cstm-tierprices .button{display:none;}




.k-widget .tier-prices{display:block;}

.item-box .product-title + .sku { display: block !important; }
.item-box .sku::Before{content:"Art."; font-family: Arial, Helvetica, sans-serif;}

#jcarousel-14-444 {background:green !Important; border:1px solid black;}

*:lang(nl).fa-question-circle.red::after{content:" Geen voorraad"; font-family: Arial, Helvetica, sans-serif; font-weight: normal;}
*:lang(nl).fa-check-circle.green::after{content:" 3-5 werkdagen"; font-family: Arial, Helvetica, sans-serif; font-weight: normal;}
*:lang(nl).fa-check-circle.orange::after{content:" 5-10 werkdagen"; font-family: Arial, Helvetica, sans-serif; font-weight: normal;}

*:lang(en).fa-question-circle.red::after{content:" Out of stock"; font-family: Arial, Helvetica, sans-serif; font-weight: normal;}
*:lang(en).fa-check-circle.green::after{content:" 3-5 working days"; font-family: Arial, Helvetica, sans-serif; font-weight: normal;}
*:lang(en).fa-check-circle.orange::after{content:" 5-10 working days"; font-family: Arial, Helvetica, sans-serif; font-weight: normal;}

*:lang(de).fa-question-circle.red::after{content:" nicht vorrättig"; font-family: Arial, Helvetica, sans-serif; font-weight: normal;}
*:lang(de).fa-check-circle.green::after{content:" 3-5 Arbeitstage"; font-family: Arial, Helvetica, sans-serif; font-weight: normal;}
*:lang(de).fa-check-circle.orange::after{content:" 5-10 Arbeitstage"; font-family: Arial, Helvetica, sans-serif; font-weight: normal;}

.product-grid .fa-question-circle.red::after{content:""; font-family: Arial, Helvetica, sans-serif; font-weight: normal;}
.product-grid .fa-check-circle.green::after{content:""; font-family: Arial, Helvetica, sans-serif; font-weight: normal;}
.product-grid .fa-check-circle.orange::after{content:""; font-family: Arial, Helvetica, sans-serif; font-weight: normal;}



.product-tags-box{display:none;}

.profile-menu-box.login-form-in-header {width: auto;}

.Hompage_cat carousel-item{border:5px solid #ffa500;}

/*Seo Teksten opmaken*/
.SeoTeksten{margin-top:2em; margin-bottom:2em; border-bottom:0px solid blue;}
.SeoTeksten P,h1,h2,h3{margin-bottom:1em;}

.SeoTeksten a:link {
  text-decoration: underline;
}

@media only screen and (max-width: 750px;) {
	.webwinkelkeurPopupDiv{display:None;}
	.contact_wrapper_Inline .contact_devider{
    display: block;
	
  }
.aanbevelingen span{display:block; text-align:center;}

}


@media only screen and (min-width:750px) {
.contact_wrapper_Inline .contact_devider{display: inline;}
.contact_div_head{border-bottom:0px solid #ffffff;font-size:120%; font-weight:bold;text-align:center;}  
.aanbevelingen span{display:inline; text-align:center;}
.BTWChange li {cursor:pointer; display:inline; padding:1em;margin:0.5em;}
}

@media only screen and (min-width: 1250px) {
	.contact_wrapper_Inline .contact_devider{display: block;}
	.contact_div_head{border-bottom:2px solid #ffffff;font-size:120%; font-weight:bold;text-align:center;}
	.contact_wrapper_Inline{
	position: fixed;
	right: 20px; 
	bottom: 100px;
	height: auto;
	width: auto;
	z-index: 1500;
  }

}
